# Campaign Performance - Calculate Lift and Significance

In [1]:
import pandas as pd
from scipy import stats

In [2]:
# Simulated data
data = pd.DataFrame({
    'user_id': range(1, 101),
    'received_email': [True]*50 + [False]*50,
    'revenue': [120, 80, 0, 50, 100]*10 + [80, 60, 0, 40, 90]*10
})

In [3]:
data.head()

   user_id  received_email  revenue
0        1            True      120
1        2            True       80
2        3            True        0
3        4            True       50
4        5            True      100

In [4]:
# Split groups
test = data[data['received_email'] == True]['revenue']
control = data[data['received_email'] == False]['revenue']

In [5]:
test.head()

0    120
1     80
2      0
3     50
4    100
Name: revenue, dtype: int64

In [11]:
control.head()

50    80
51    60
52     0
53    40
54    90
Name: revenue, dtype: int64

In [13]:
# Calculate lift
lift = test.mean() - control.mean()
print(f"Incremental Lift: ${lift:.2f} per user")

Incremental Lift: $16.00 per user

In [18]:
# Statistical significance
t_stat, p_val = stats.ttest_ind(test, control, equal_var=False)
print(f"T-test p-value: {p_val:.4f}")

T-test p-value: 0.0365

### Interpretation:
Lift shows the average revenue difference per user.

The campaign drove an incremental revenue of $16 per user, highlighting its measurable impact beyond baseline performance.

p-value is < 0.05 which means the lift is statistically significant